.AdminPage {
  width: 800px;
  margin: 3% auto;
  border: 2px solid black;
  padding: 35px;
}

.Field {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.Field:focus {
  outline: none;
  border-color: rgb(238, 4, 4);
}

.AdminPage button {
  padding: 10px 15px;
  background: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  outline: none;
}
.AdminPage button:hover {
  background: rgb(241, 112, 112);
  border: 1px solid rgb(253, 138, 103);
  cursor: pointer;
}

.AdminPage select {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}
