.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-around;
  z-index: 90;
}

.Toolbar p {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
